streamlit
pandas
pypdf
nltk
openpyxl
spacy
# This URL installs the exact spacy model needed for free on cloud servers
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
